*esp32.bin
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/extensions.json
CMakeLists.txt
CMakeListsPrivate.txt
cmake-build-*/
custom_config.ini
!custom_config.ini.example
