.idea/serialmonitor_settings.xml
.idea/deployment.xml
.idea/modules.xml
.idea/compilerexplorer.settings.xml
*esp32.bin
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/extensions.json
.idea/sonarIssues.xml
CMakeLists.txt
CMakeListsPrivate.txt
cmake-build-*/
custom_config.ini
!custom_config.ini.example

# jekyll
docs/_site
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor

.DS_Store
.vscode
