; This file should contain your local modifications to the PlatformIO.ini file.

[env:esp32dev]

; === upload_port ===
; Optional. If not set, PlatformIO will try to autodetect the port.

; -- macOS --
; upload_port = /dev/cu.SLAB_USBtoUART

; -- Windows --
; upload_port = COM3

; === build_flags ===
; build with development option
; build_flags = -D DEVELOP

;;;; Loglevel for debugging ;;;;

; None
;build_flags = -DCORE_DEBUG_LEVEL=0

; Error
;build_flags = -DCORE_DEBUG_LEVEL=1

; Warn
;build_flags = -DCORE_DEBUG_LEVEL=2

; Info
;build_flags = -DCORE_DEBUG_LEVEL=3

; Debug
;build_flags = -DCORE_DEBUG_LEVEL=4

; Verbose
;build_flags = -DCORE_DEBUG_LEVEL=5
