; This file should contain your local modifications to the PlatformIO.ini file.

[env:esp32dev]
; upload_port: Optional. If not set, PlatformIO will try to autodetect the port.
; (for example for macOS:)
; upload_port = /dev/cu.SLAB_USBtoUART
