; This file should contain your local modifications to the PlatformIO.ini file.

[env:myObs]
build_flags =
    ${env.build_flags}
; you can specify a custom config json (see docs/software/firmware/obs_cfg.md)
; here which will be used for fresh installs based on this firmware
    -DCUSTOM_OBS_DEFAULT_CONFIG='"{ obs: [ { displayConfig: 15, offset: [ 30, 30 ], httpPin: \\"12345678\\", wifiSsid: \\"SID\\", wifiPassword: \\"87654321\\" } ] }"'
; aditional logoutput from 0 (node) over 3 (default info) to 5 debug
    -DCORE_DEBUG_LEVEL=3
; build with development option
; warning this causes the configuration including the wifi credentials to be sent to serial
    -DDEVELOP
; http lib loglevel
    -DHTTPS_LOGLEVEL=3
; select OBS Variant
    -DOBSCLASSIC
;    -DOBSPRO


; === upload_port ===
; Optional. If not set, PlatformIO will try to autodetect the port.
; -- macOS --
; upload_port = /dev/cu.SLAB_USBtoUART
; -- Windows --
; upload_port = COM3
; === build_flags ===
; build with development option
