name: OpenBikeSensor - CI
on:
  # Trigger when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
    # could use a container with sq tools already installed
       image: infinitecoding/platformio-for-ci:latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Prepare source
      run: |
        mkdir bin
        echo GITHUB Ref: ${{ github.ref }}
        VERSION_STRING=`grep "const char \*OBSVersion =" src/OpenBikeSensorFirmware.cpp`
        MAJOR=`echo ${VERSION_STRING} | cut -f2 -d\"`
        if [ "${{ github.ref }}" = "refs/heads/master" ]
        then
          PATCH=${GITHUB_RUN_NUMBER}
          SEPARATOR=.
          PREPARE_RELEASE=true
        else
          PATCH=RC${GITHUB_RUN_NUMBER}
          SEPARATOR=-
          PREPARE_RELEASE=false
        fi
        VERSION=${MAJOR}${SEPARATOR}${PATCH}
        echo "OBS_PREPARE_RELEASE=${PREPARE_RELEASE}" >> $GITHUB_ENV
        echo "OBS_VERSION=${VERSION}" >> $GITHUB_ENV
        echo "OBS_MAJOR_VERSION=${MAJOR}" >> $GITHUB_ENV
        echo $VERSION > VERSION
        echo Building OBS Version: $VERSION
        sed -i 's|-DBUILD_NUMBER=\\"-dev\\"|-DBUILD_NUMBER=\\"'${SEPARATOR}${PATCH}'\\"|' platformio.ini
        echo "SONAR_SCANNER_VERSION=4.5.0.2216" >> $GITHUB_ENV

    - name: Cache SonarCloud packages
      id: cache-sonar
      uses: actions/cache@v2
      with:
        path: |
          ~/.sonar/cache
          sonarqube
        key: ${{ runner.os }}-sonar-${{ env.SONAR_SCANNER_VERSION }}-ng
        restore-keys: ${{ runner.os }}-sonar-${{ env.SONAR_SCANNER_VERSION }}-ng

    - name: Install SonarQube dependencies
      if: steps.cache-sonar.outputs.cache-hit != 'true'
      run: |
        mkdir -p sonarqube
        cd sonarqube
        wget --no-verbose https://sonarcloud.io/static/cpp/build-wrapper-linux-x86.zip
        unzip -qq build-wrapper-linux-x86.zip
        rm build-wrapper-linux-x86.zip
        wget --no-verbose https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-${{ env.SONAR_SCANNER_VERSION }}-linux.zip
        unzip -qq sonar-scanner-cli-${{ env.SONAR_SCANNER_VERSION }}-linux.zip
        rm sonar-scanner-cli-${{ env.SONAR_SCANNER_VERSION }}-linux.zip
        cd ..

    - name: Install build dependencies
      run: |
        apt-get update
        apt-get install -qq -y zip

    - name: Build firmware
      run: |
        mkdir sonarqube-out
        ./sonarqube/build-wrapper-linux-x86/build-wrapper-linux-x86-64 --out-dir sonarqube-out \
          platformio ci --build-dir="./bin" --keep-build-dir --project-conf=platformio.ini ./src/

    - name: Package firmware
      run: |
        cp /github/home/.platformio/packages/framework-arduinoespressif32/tools/sdk/bin/bootloader_dio_40m.bin 0x01000.bin
        cp bin/.pio/build/esp32dev/partitions.bin 0x08000.bin
        cp /github/home/.platformio/packages/framework-arduinoespressif32/tools/partitions/boot_app0.bin 0x0e000.bin
        cp bin/.pio/build/esp32dev/firmware.bin 0x10000.bin
        wget --no-verbose -O COPYRIGHT-ESP.html https://docs.espressif.com/projects/esp-idf/en/latest/esp32/COPYRIGHT.html
        wget --no-verbose -O LICENSE-ARDUINO-ESP32.md https://github.com/espressif/arduino-esp32/raw/master/LICENSE.md
        zip --junk-paths obs-${{ env.OBS_VERSION }}-full-flash.zip \
          0x*.bin \
          COPYRIGHT-ESP.html \
          LICENSE-ARDUINO-ESP32.md \
          LICENSE
        zip --junk-paths obs-${{ env.OBS_VERSION }}.zip \
          bin/.pio/build/esp32dev/firmware.bin \
          COPYRIGHT-ESP.html \
          LICENSE-ARDUINO-ESP32.md \
          LICENSE

    - name: Analyze with SonarCloud
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Hack - point sonarqube to the real sources not the copy of it
        # See also https://community.sonarsource.com/t/scanning-platformio-c-embeded-projects/35141/2
        sed -i 's|OpenBikeSensorFirmware/bin|OpenBikeSensorFirmware|' \
            sonarqube-out/build-wrapper-dump.json
        sed -i 's|.pio/build|bin/.pio/build|' \
            sonarqube-out/build-wrapper-dump.json
        ./sonarqube/sonar-scanner-${{ env.SONAR_SCANNER_VERSION }}-linux/bin/sonar-scanner \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=friends-of-openbikesensor \
          -Dsonar.projectKey=Friends-of-OpenBikeSensor_OpenBikeSensorFirmware \
          -Dsonar.coverage.exclusions=**/* \
          -Dsonar.sources=src \
          -Dsonar.sourceEncoding=UTF-8 \
          -Dsonar.cfamily.cache.enabled=false \
          -Dsonar.cfamily.threads=1 \
          -Dsonar.cfamily.build-wrapper-output=sonarqube-out \
          -Dsonar.projectVersion=${{ env.OBS_MAJOR_VERSION }}

    - name: Upload Build Asset
      uses: actions/upload-artifact@v2
      with:
        name: obs-${{ env.OBS_VERSION }}
        path: |
          bin/.pio/build/esp32dev/firmware.bin
          COPYRIGHT-ESP.html
          LICENSE-ARDUINO-ESP32.md
          LICENSE
        if-no-files-found: error

    - name: Upload Build Asset Full Flash
      uses: actions/upload-artifact@v2
      with:
        name: obs-${{ env.OBS_VERSION }}-initial-flash
        path: |
          0x*.bin
          COPYRIGHT-ESP.html
          LICENSE-ARDUINO-ESP32.md
          LICENSE
        if-no-files-found: error

    - name: Generate changelog
      id: changelog
      if: ${{ env.OBS_PREPARE_RELEASE == 'true' }}
      uses: metcalfc/changelog-generator@v0.4.4
      with:
        myToken: ${{ secrets.GITHUB_TOKEN }}

    - name: Create Release
      id: create_release
      if: ${{ env.OBS_PREPARE_RELEASE == 'true' }}
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.OBS_VERSION }}
        release_name: ${{ env.OBS_VERSION }}
        body: |
          Version ${{ env.OBS_VERSION }} based on ${{ github.ref }} ${{ github.sha }}

          ${{ steps.changelog.outputs.changelog }}
          
          ## :tada: Major features and improvements

          ## :rocket: New features and improvements 

          ## :bug: Bug Fixes

          ## :ghost: Maintenance

          ## :package: Dependency updates

          ## :construction_worker: Changes for developers / internal
        draft: true
        prerelease: true

    - name: Upload Release Asset
      id: upload-release-asset
      if: ${{ env.OBS_PREPARE_RELEASE == 'true' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./obs-${{ env.OBS_VERSION }}.zip
        asset_name: obs-${{ env.OBS_VERSION }}.zip
        asset_content_type: application/zip

    - name: Upload Release Asset Full Flash
      id: upload-release-asset-full-flash
      if: ${{ env.OBS_PREPARE_RELEASE == 'true' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./obs-${{ env.OBS_VERSION }}-full-flash.zip
        asset_name: obs-${{ env.OBS_VERSION }}-full-flash.zip
        asset_content_type: application/zip
